.kol {
}
.container{
}
.kol-inner {
}
.kol-box {
    display: flex;
}
.kol-img {
  margin-left: 450px;
}
.kol-second-box {
    display: flex;
}
.kol-roro-text{
 
}
.kol-boxx {
    
}
.hsecond {
}
.kol-litle {
font-size: 15px;
font-weight: 400;
line-height: 28px;
}